
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  background-color: #FF5200;
  font-family: 'saira';

}

.food {
  background-color: #FFFFFF;
}

Body {
   background-color: #FFFFFF;
}

.Braverage{
   position: relative;
   margin-left: 135px;
  top : 150px;
  font-size: 24px;
  color :rgba(2, 6, 12, 0.92);
}

html {
  scroll-behavior: smooth;
}
